@model PolarionReports.Models.WortitemTableView

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Title
        </th>
        <th>
            Internal Comments
        </th>
        <th>
            Allocation
        </th>
        <th>
            L/F
        </th>
        <th>
            Status
        </th>
        <th>
            Link
        </th>
    </tr>


@foreach (var item in Model.Workitems) {
    <tr>
        <td>

        </td>
    </tr>
}

</table>
