<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestManagementWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BuilderWebServiceSoapBinding" />
                <binding name="ProjectWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SecurityWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TrackerWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PlanningWebServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BuilderWebServiceSoapBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="BuilderWebServiceSoapBinding2" />
                <binding name="PlanningWebServiceSoapBinding1" />
                <binding name="ProjectWebServiceSoapBinding1" />
                <binding name="SecurityWebServiceSoapBinding1" />
                <binding name="SessionWebServiceSoapBinding1" />
                <binding name="TestManagementWebServiceSoapBinding1" />
                <binding name="TrackerWebServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://zkwsvpol01/polarion/ws/services/BuilderWebService"
                binding="basicHttpBinding" bindingConfiguration="BuilderWebServiceSoapBinding"
                contract="Builder.BuilderWebService" name="BuilderWebService" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/BuilderWebService"
                binding="basicHttpBinding" bindingConfiguration="BuilderWebServiceSoapBinding1"
                contract="Builder.BuilderWebService" name="BuilderWebService1" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/PlanningWebService"
                binding="basicHttpBinding" bindingConfiguration="PlanningWebServiceSoapBinding"
                contract="Planning.PlanningWebService" name="PlanningWebService" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/ProjectWebService"
                binding="basicHttpBinding" bindingConfiguration="ProjectWebServiceSoapBinding"
                contract="Project.ProjectWebService" name="ProjectWebService" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/SecurityWebService"
                binding="basicHttpBinding" bindingConfiguration="SecurityWebServiceSoapBinding"
                contract="Security.SecurityWebService" name="SecurityWebService" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/SessionWebService"
                binding="basicHttpBinding" bindingConfiguration="SessionWebServiceSoapBinding"
                contract="Session.SessionWebService" name="SessionWebService" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/TestManagementWebService"
                binding="basicHttpBinding" bindingConfiguration="TestManagementWebServiceSoapBinding"
                contract="TestManagement.TestManagementWebService" name="TestManagementWebService" />
            <endpoint address="https://zkwsvpol01/polarion/ws/services/TrackerWebService"
                binding="basicHttpBinding" bindingConfiguration="TrackerWebServiceSoapBinding"
                contract="Tracker.TrackerWebService" name="TrackerWebService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
