@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CCS Rosenstein<br />
    Arndtgasse 15<br />
    2700 Wiener Neustadt <br />
    <abbr title="Phone">P:</abbr>
    +43 699 17580205
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pr@ccs.at">pr@ccs.at</a><br />
</address>